$color-primary: rgba(231,104,63,1);
$color-primary-transparent: rgba(231,104,63,.9);
$color-partner: rgba(231,104,63,1);
$color-partner-transparent: rgba(231,104,63,.9);
$color-secondary: rgba(231,77,86,1);
$color-secondary-transparent: rgba(231,77,86,.9);
$color-white: rgba(240,240,240,1);
$color-white-transparent: rgba(240,240,240,.9);
$color-white-pure: rgba(255,255,255,1);
$color-white-pure-transparent: rgba(255,255,255,.9);
$color-black: rgba(40,40,40,1);
$color-black-transparent: rgba(40,40,40,.9);
$color-black-shadow: rgba(40,40,40,.3);
$color-red: rgba(200,100,20,1);
$color-red-transparent: rgba(200,100,20,.4);
$color-transparent: rgba(0,0,0,0);
$color-green: rgba(50, 180, 50, 1);
$box-shadow: 2px 25px 56px 3px rgba(0,0,0,.14);
$box-shadow-invert: 2px -45px 56px 3px rgba(0,0,0,.07);
$box-shadow-none: 0 0 0 0 rgba(0,0,0,.07);
$gradient: linear-gradient(to top right, $color-secondary, $color-primary);
