@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTW01-Regular.eot');
    src: url('../fonts/AvenirNextLTW01-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextLTW01-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTW01-Regular.woff') format('woff'),
        url('../fonts/AvenirNextLTW01-Regular.ttf') format('truetype'),
        url('../fonts/.svg#AvenirNextLTW01-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
