// importing architecture/modules

@import "partials/_base.scss";

body {

    font-size: 12px;
    font-family: $font-secondary;
    font-weight: $font-weight-normal;
    background: $color-white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-primary;
        font-weight: $font-weight-normal;
    }
    .disabled-link {
        pointer-events: none;
        opacity: .6;
    }
    &.pt-100 {
        [class*="section-"] {
            padding-top: 100px;
        }
    }
    [class*="section"] {
        &.section-header-padding {
            padding-top: 120px;
        }
    }
    .feature-image-wrap {
        img {

            &.no-shadow {
                box-shadow: none !important;
            }
        }
    }
    .feature-image-item-alt {
            width: 134%;
            max-width: 350px;
            position: absolute;
            border-radius: 10px;
            box-shadow: $box-shadow;
            z-index: 1;
        &:first-child {
            bottom: -572px;
            left: -27px;
        }
        &:nth-child(2) {
            bottom: -656px;
            left: -80px;
        }
        &:nth-child(3) {
            bottom: -740px;
            left: -120px;
        }
    }
    @media (max-width: 991px) {
        .no-v-margin-mobile {
            margin-top: 0;
            margin-bottom: 0;
        }
        .feature-image-item-alt {
                width: 100%;
                max-width: 240px;
                position: absolute;
                border-radius: 10px;
                box-shadow: $box-shadow;
                z-index: 1;
            &:first-child {
                top: auto;
                bottom: -460px;
                left: 10px;
            }
            &:nth-child(2) {
                top: auto;
                bottom: -520px;
                right: 10px;
                left: auto;
            }
            &:nth-child(3) {
                bottom: -250px;
                left: 50%;
                display: none;
            }
        }
    }
    .no-shadow {
        box-shadow: none !important;
    }
    .row-flex-column {
        flex-direction: column;
    }
    .inline-50 {
        width: 50%;
        flex-direction: column;
        display: inline-block;
    }
    .min-ht-100 {
        min-height: 100px;
    }
    .mt-20 {
        margin-top: 20px;
    }
    .mt-40 {
        margin-top: 40px;
    }
    .mb-20 {
        margin-bottom: 20px;
    }
    .mb-40 {
        margin-bottom: 40px;
    }
    .header .link-white,
    .header .cta {
        width: auto;
        min-width: 0;
    }
    .no-underline {
        border-bottom: none !important;
    }
    .vis-hidden {
        visibility: hidden;
    }
    .link-mobile {
        margin-top: 10px !important;
    }
    .download-mobile {
        margin-bottom: 10px !important;
    }
    .admin-component-link {
        margin-left: auto;
        margin-right: auto;
    }
    .inline-input {
        padding: 10px 20px !important;
        display: inline-block;
        width: auto !important;
        min-width: 240px;
        margin-right: 5px;
    }
    .member-name,
    .member-email {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .empavialability {
        /* width: 100% !important; */
        /* position: relative; */
        display: block !important;
        text-align: left !important;
    }
    .inherit-font-size a {
        font-size: inherit;
    }
    .color-primary {
        color: $color-primary;
    }
    .coming-soon {
        cursor: not-allowed;
        pointer-events: none;
    }
    .price-old {
        text-decoration: line-through;
        color: $color-red;
    }
    .price-discount {
        color: $color-primary;
    }
    .total-amt {
        font-weight: bold;
    }
    [data-avialable="0"] {
        color: $color-green;
    }

    // cropping tools override

    .rotate-ccw,
    .rotate-cw {
        display: none !important;
    }
    .profilephoto .cropit-preview,
    .coverphoto .cropit-preview {
        overflow: hidden;
    }

    // overlay/dialog override

    .ui-widget-overlay {
        background: $color-white;
        opacity: 1;
    }
    .ui-widget.ui-widget-content {
        border: none !important;
        background: $color-transparent !important;
        width: 100% !important;
    }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
        float: none;
        margin: auto;
        text-align: center;
    }
    .ui-dialog-content {
        p {
            text-align: center !important;
        }
    }
    .ui-widget-content {
        background: $color-transparent !important;
    }
    .ui-widget-header {
        background: $color-transparent !important;
        text-align: center !important;
        color: $color-partner !important;
    }
    .ui-dialog-title {
        font-family: $font-primary !important;
        font-size: 2.5em !important;
        width: 100% !important;
        font-weight: $font-weight-normal !important;
    }
    .ui-dialog .ui-dialog-titlebar-close {
        position: fixed;
        top: 40px !important;
        right: 40px !important;
        color: $color-black;
    }
    .ui-dialog-titlebar-close:before {
        content: '\f00d';
        position: absolute;
        color: $color-partner;
        font-size: 32px !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
    }
    .ui-dialog-titlebar-close {
        position: relative;
        font-family: "Font Awesome 5 Free" !important;
        background: transparent !important;
        border: none !important;
    }
    .ui-dialog .ui-dialog-buttonpane {
        border-width: 0 0 0 0 !important;
    }
    .ui-dialog-content {
        .ui-icon {
            display: none !important;
        }
    }
    .ui-dialog-titlebar {
        border: none !important;
    }
    .ui-dialog-content p {
        font-family: $font-secondary !important;
    }

    // tags plugin override

    .tagsinput {
        width: 75% !important;
        @include border-radius(5px);
        border-width: 2px !important;
        * {
            font-family: $font-secondary !important;
            font-size: 12px !important;
            font-size: 16px !important;
        }
        input {
            width: 150px !important;
            color: $color-black !important;
        }
        a {
            color: $color-white !important;
        }
        .tag {
            color: $color-white !important;
            background: $color-primary !important;
            @include border-radius(5px);
            border: $color-primary;
            padding: 5px !important;
            border: 2px solid $color-primary !important;

        }
    }

    // global styles
    .store-img {
        box-shadow: $box-shadow !important;
        border-radius: 20px;
        &.store-img-coming-soon {
            opacity: .6;
        }
    }
    .iphone-bg {
        position: absolute;
        bottom: -160px;
        right: 50%;
        opacity: 1;
        height: 90%;
        &.iphone-bg-2 {
            right: 61%;
            bottom: -120px;
        }
    }
    .align-center-buttons .cta {
        margin-left: auto;
        margin-right: auto;
    }
    .feature-image-wrapper {
        width: 100%;
        height: 100%;
    }
    .team-image-wrapper {
        width: 100%;
        height: 100%;
    }
    .team-image-wide {
        &.team-image-wrap {
            img {
                width: 100%;
                box-shadow: $box-shadow !important;
                @include border-radius(10px);
                margin: 20px 0;
            }
        }
    }
    .team-image-wrap:not(.team-image-wide) {
        text-align: center;

        img {
            width: 140px;
            height: 140px;
            object-fit: cover;
            position: absolute;
            box-shadow: $box-shadow !important;
            border: 3px solid $color-white-pure;
            @include border-radius(50%);
        }
        &:first-child img {
            left: 0;
            top: 0;
        }
        &:nth-child(2) img {
            top: 180px;
            left: 50%;
            margin-left: -70px;
        }
        &:nth-child(3) img {
            top: 0;
            right: 0;
        }
    }
    .feature-image-wrap {
        text-align: center;

        img {
            width: 100%;
        }

        img:not(.feature-image-blur) {
            width: 120%;
            border-radius: 10px;
        }

        &:nth-child(2) img {
            top: 90px;
            left: 70px;
        }

        &:nth-child(3) img {
            top: 60%;
            left: 150px;
        }

        &:nth-child(4) img {
            top: 100%;
            left: 120px;
        }

        .feature-image-blur {
            position: relative;
        }
        .web-blur {
            -webkit-filter: blur(3px);
            filter: blur(4px);
            visibility: hidden;
        }

        img {
            position: absolute;
            box-shadow: $box-shadow !important;
            @include border-radius(5px);
        }
    }
    .header {

        &.logo-gradient {
            .logo path {
                fill: url(#MyGradient);
            }
            .logo-text {
                color: $color-primary;
            }
        }

        &.alt {

            box-shadow: $box-shadow !important;
            .logo-text {
                color: $color-primary;
            }
            .logo,
            .flair {
                path,
                circle {
                    fill: url(#MyGradient);
                }
            }
            a {
                color: $color-primary;
            }
        }

    }
    .logo-wrapper {
        display: inline-block;
        width: 100%;
    }
    .logo-text {
        display: inline-block;
        position: absolute;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        font-size: 32px;
        margin-left: 4px;
        line-height: 32px;
        letter-spacing: -2px;
    }
    .logo,
    .flair {
        path,
        circle {
            fill: white;
        }
    }
    .flair {
        display: none;
    }

    &.partner {
        .logo,
        .flair {
            path,
            circle {
                fill: white;
            }
        }
    }

    .flair {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        .flair-item {
            max-width: 120px;
            width: 100%;
            position: absolute;
            opacity: .3;
            @include transform(scale(0));
            @include animation(.3s, scale-in);

            &:first-child {
                bottom: 0;
                left: 10%;
                animation-delay: 0s;
            }

            &:nth-child(2) {
                bottom: 40px;
                left: 20%;
                animation-delay: .1s;
            }

            &:nth-child(3) {
                bottom: 60px;
                left: 40%;
                animation-delay: .2s;
            }

            &:nth-child(4) {
                bottom: 80px;
                left: 50%;
                animation-delay: .4s;
                @include transform(scale(0) rotate(25deg));
                @include animation(.3s, scale-in-rotate-r);
            }

            &:nth-child(5) {
                width: 12%;
                bottom: -20px;
                left: 70%;
                animation-delay: .3s;
            }

            &:nth-child(6) {
                bottom: 20px;
                right: 10%;
                animation-delay: .5s;
            }

            &:nth-child(7) {
                top: 40px;
                left: 10%;
                animation-delay: .6s;
            }

            &:nth-child(8) {
                width: 12%;
                @include transform(scale(0) rotate(-25deg));
                @include animation(.3s, scale-in-rotate-l);
                top: 80px;
                left: 20%;
                animation-delay: .7s;
            }

            &:nth-child(9) {
                top: 100px;
                left: 40%;
                animation-delay: .8s;
            }

            &:nth-child(10) {
                width: 12%;
                @include transform(scale(0) rotate(25deg));
                @include animation(.3s, scale-in-rotate-r);
                top: 60px;
                left: 50%;
                animation-delay: .9s;
            }

            &:nth-child(11) {
                top: 80px;
                right: 20%;
                animation-delay: 1s;
            }

            &:nth-child(12) {
                top: 20px;
                right: 10%;
                animation-delay: 1.1s;
            }
        }
    }

    * {
        transition: color .3s, transform .3s, background .3s;
    }

    [class*="cropit-"] {
        transition: none;
    }

    &.overlay-active {
        overflow: hidden;

        .overlay {
            display: block;
        }
    }

    .overlay {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-white;
        z-index: 4;
    }

    [class*="section-"] {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;
    }

    &.section-padding-lg {
        [class*="section-"] {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    .component-plan {
        &.selected {
            &:before {
                font-family: Font Awesome\ 5 Free;
                    content: '\f00c';
                    font-weight: 900;
                    position: absolute;
                    top: 20px;
                    right: 30px;
                    font-size: 30px;
                    color: $color-white-pure;
            }
            .cta-select-plan {
                display: none;
            }
        }

        .cta-select-plan {
            margin: auto;
            display: block;
            margin-right: 0;
        }

        border: 2px solid $color-partner;
        @include border-radius(5px);
        padding: 10px 20px;
        .inline-link {
            display: inline;
            padding-left: 10px;
            padding-right: 10px;
        }
        .margin-tb-10 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        h3 {
            color: $color-partner;
        }

        h5, h6 {
            color: $color-black;
        }
        h6:last-child, a.term:last-child {
            // min-height: 100px;
        }
        a.term {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &.selected {
            background: $color-partner;

            h3 {
                color: $color-white-pure;
            }

            h5, h6 {
                color: $color-white;
            }
        }
    }

    .admin-component {
        display: none;

        &.active {
            display: block;
        }
    }

    .img-small {
        max-width: 300px;
        width: 100%;
    }

    input:not([type="button"]):not(.cta) {
        padding: 5px;
        max-width: 400px;
        width: 100%;
    }

    .block-inputs {
        input:not([type="button"]) {
            display: block;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .color-partner {
        color: $color-partner;
    }

    .padding-left-zero {
        padding-left: 0;
    }

    .component-add-member {
        display: none;

        &.edit-active {
            display: block;
        }
    }

    .team-member-photo-wrapper,
    .business-photo-wrapper {
        width: 80px;
        height: 80px;
        @include border-radius(50%);
        border: 2px solid $color-partner;
        overflow: hidden;

        .team-member-photo,
        .business-photo {
            width: 100%;
        }
    }

    .cover-photo-wrapper {
        width: 100%;

        .cover-photo {
            width: 100%;
        }
    }

    input {
        &.full-width {
            width: 100%;
            max-width: 100%;
        }
    }

    .component-new-cc,
    .component-new-promo {
        display: none;

        &.edit-active {
            display: block;
        }
    }

    .admin-component-hours {
        .cta-save-hours,
        .cta-add-hours,
        .cta-cancel {
            display: none;
        }

        input[type="time"],
        select {
            background: transparent;
            border: none;
            border: 2px solid $color-transparent;
            -webkit-appearance: none;
            appearance: none;
        }
        .fa-trash {
            &.delete-icon {
                display: none;
            }
        }
        &.edit-active {
            .cta-save-hours,
            .cta-cancel {
                display: inline-block;
            }

            .cta-add-hours {
                display: block;
            }

            .cta-edit-hours {
                display: none;
            }
            .fa-trash {
                &.delete-icon {
                    display: block;
                }
            }
            input[type="time"],
            select {
                background: transparent;
                border: 2px solid $color-partner;
                @include border-radius(5px);
                -webkit-appearance: none;
                appearance: none;
            }
        }

    }

    .overlay-loader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-white-transparent;
        z-index: 5;
        display: none;

        .loader {
            color: $color-partner;
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background: $color-partner;
            @include border-radius(50%);
            @include animation(1.6s, pulse);
            animation-iteration-count: infinite;
        }

        .loader:before {
            content: "";
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            line-height: 50px;
            text-align: center;
            @include transform(scale(0));
        }
    }

    &.loading {
        overflow: hidden;

        .overlay-loader {
            display: block;
        }
    }

    &.loading-success {
        .loader {
            background: $color-transparent;
            animation: none;
        }

        .loader:before {
            content: "\f058";
            font-family: Font Awesome\ 5 Free;
            @include animation(.3s, scale-in);
            font-size: 48px;
            animation-delay: .3s;
        }
    }

    &.loading-error {
        .loader {
            background: $color-transparent;
            animation: none;
        }

        .loader:before {
            content: "\f06a";
            color: $color-red;
            font-weight: 900;
            font-family: Font Awesome\ 5 Free;
            @include animation(.3s, scale-in);
            font-size: 48px;
            animation-delay: .3s;
        }
    }
    // error label
    .error-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: auto;
        padding: 10px 0;
        background: $color-red;
        z-index: 3;
        @include transform(translateY(-100%));
        text-align: center;
        color: $color-white-pure;
        opacity: 0;
        animation-fill-mode: none;

        &.active {
            @include animation(6s, error-slide);
        }

        &.success {
            background: $color-green;
        }
    }
    // header specific styles
    .header {
        height: 75px;
        background: $color-transparent;
        z-index: 2;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;

        &.alt {
            background: $color-white-pure;
        }

        .dd-header {
            position: relative;
            float: right;
            &:hover {
                .dd-header-menu {
                    display: block;
                }
            }
            &.active {
                .dd-header-menu {
                    display: block;
                }
            }
            .dd-header-menu {
                @include animation(.3s, jumper-fade-in);
                display: none;
                position: absolute;
                background: $color-white-pure;
                box-shadow: $box-shadow, $box-shadow-invert !important;
                top: 100%;
                min-width: 240px;
                max-width: 240px;
                width: 100%;
                @include border-radius(10px);
                padding: 15px 10px;
                left: 0;
                right: 0;
                margin: auto;
                margin-left: 10px;
                text-align: left;

                a {
                    display: block;
                    text-align: left;
                    margin-left: 0;
                    color: $color-primary;
                    float: none;
                    padding: 5px;
                }
            }
        }

        .pill-close {
            display: none;
        }

        &.header-open {
            height: auto;

            .pill-bars {
                display: none;
            }

            .pill-close {
                display: block;
            }
        }

        .pill-nav {
            position: absolute;
            color: $color-white-pure;
            right: 20px;
            top: 25px;
            cursor: pointer;
            z-index: 2;
        }
        &.alt {
            .pill-nav {
                color: $color-primary;
            }
        }

        .cta {
            margin: auto;
            display: block;
        }

        .logo {
            width: 100%;
            max-width: 60px;
            margin-top: 10px;
        }
    }

    &.partner {
        .header {
            .pill-nav {
                color: $color-partner;
            }
        }
    }
    .component-brand-sharing {
        img,
        pre {
            width: 100%;
            margin: 40px 0 40px 0;
            padding: 0 20px 0 20px;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
        pre {
            color: $color-primary;
            text-align: left;
            padding: 20px;
            max-width: 850px;
        }
    }
    .component-brand-logos {
        img {
            width: 100%;
            @include border-radius(25%);
            margin: 40px 0 40px 0;
            padding: 0 20px 0 20px;
        }
    }
    .component-brand-colors {
        .brand-color {
            width: 100%;
            height: 200px;
            @include border-radius(25px);
            margin: 40px 0 40px 0;
            padding: 0 20px 0 20px;
            h5 {
                color: $color-white-pure;
                line-height: 200px;
                text-align: center;
            }
            &.brand-color-primary {
                background: $color-primary;
            }
            &.brand-color-accent {
                background: $color-secondary;
            }
        }
    }
    @media (min-width: 992px) {
        .member-name {
            padding-left: 20px;
        }
        .text-center-desktop {
            text-align: center;
        }
        .iphone-wrap {
            position: relative;
            .iphone:last-child {
                left: 40%;
                transform:translateY(-50%) rotate(10deg);
            }
            .iphone {
                width: 50%;
                max-width: 290px;
                position: absolute;
            }
            .iphone:first-child {
                left: 0;
                transform:translateY(-50%) rotate(-10deg);
            }
        }
        &.partner {
            .iphone-wrap {
                .iphone {
                    transform:translateY(-50%) rotate(-10deg) !important;
                    width: 80% !important;
                    left: 0 !important;
                    max-width: 400px !important;
                }
            }
        }
        .hidden-img-2 {
            .feature-image-wrap-2 {
                visibility: hidden;
            }
        }
        .feature-image-wrapper {
            .feature-image-wrap {
                &.image-up {
                    img {
                        top: -30px;
                    }
                }
            }
        }
        .feature-image-wrap-2 {
            display: block;
            img {
                bottom: 0;
                left: 0;
            }
        }
        .header {
            display: flex;
            align-items: center;
            height: 80px;

            .pill-nav {
                display: none;
            }

            .cta {
                float: right;
                margin-left: 10px;
                margin-right: 0;
            }

            .logo {
                position: relative;
            }
        }
    }
    @media (max-width: 991px) {
        &.hide-h6 {
            h6 {
                display: none;
            }
        }
        .iphone-bg {
            right: 0;
            height: 62%;
            bottom: -100px;
            left: 0;
            margin: auto;
            display: none;
            &.show {
                display: block;
            }
            &.iphone-bg-2 {
                right: auto;
                display: block;
                left: 0;
                right: 0;
                margin: auto;
                bottom: -80px;
            }

        }
        .mt-20-mobile {
            margin-top: 20px;
        }
        .desktop-only {
            display: none;
        }
        .component-plan {
            .cta-select-plan {
                margin-right: auto;
            }
        }
        .header {
            background: $color-white-pure;
            overflow: hidden;
            box-shadow: $box-shadow-none !important;
            &.header-open {
                overflow: visible;
                padding-bottom: 20px;
                box-shadow: $box-shadow !important;
            }
            .dd-header-menu {
                z-index: 2;
                max-width: 100% !important;
                margin-left: 0 !important;
            }
            .dd-header {
                width: auto;
                float: none;
            }
            .pill-nav,
            a {
                color: $color-primary;
            }
            .logo-text {
                color: $color-primary;
            }
            .logo path {
                fill: url(#MyGradient);
            }
            &.logo-gradient {
                .logo path {
                    fill: url(#MyGradient);
                }
                .logo-text {
                    color: $color-primary;
                }
            }
        }
        .partner-name {
            text-align: center;
            margin-top: 16px;
        }
        .delete-icon {
            padding-top: 29px;
        }
        .cta {
            &.admin-component-link {
                width: auto !important;
                min-width: auto !important;
            }
        }
        .feature-image-wrapper {
            height: 415px;
            width: 70%;
            margin: auto;
        }
        .feature-image-wrap {
            text-align: center;

            img {
                width: 100%;
            }

            img:not(.feature-image-blur) {
                width: 70%;
            }

            &:nth-child(2) img {
                top: 10%;
                left: 10px;
            }

            &:nth-child(3) img {
                top: 30%;
                left: 60px;
            }

            &:nth-child(4) img {
                top: 50%;
                left: 30px;
            }

            .feature-image-blur {
                position: relative;
            }

            img {
                position: absolute;
                box-shadow: $box-shadow !important;
                @include border-radius(5px);
            }
        }
        .team-image-wrap:not(.team-image-wide):nth-child(2) img {
            display: none;
        }
        .feature-image-wrapper {
            margin: 40px auto;
        }
        .iphone-wrap {
            margin-top: 40px;
            text-align: center;

            .iphone {
                width: 100%;
                max-width: 160px;
            }
        }

        .flair {
            display: none;
        }

        .team-member {
            .cta {
                text-align: left;
                padding-left: 0;
            }
        }

        .header {
            .cta {
                margin-top: 10px;
                width: 220px;
            }

            .cta:first-child {
                margin-top: 10px;
            }

            .cta:last-child {
                margin-bottom: 20px;
            }
        }

        .component-business-hours {
            border-bottom: 2px solid $color-white;
        }

        .cta + .cta.cta-gap {
            margin-left: 0;
            margin-top: 10px;
        }

        .cta-top-spread-mobile {
            margin-top: 10px;
        }
    }
    // row specific styles
    .row-cover {
        min-height: 70vh;
    }

    .row-cover-full {
        height: 100vh;
    }

    .section-white {
        background: $color-white;
    }

    .section-white-pure {
        background: $color-white-pure;
    }
    .iphone-wrap {
        position: relative;
    }
    .section-white-pure:before,
    .section-white-pure:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 80px;
        border-radius: 40px;
        left: 0;
        right: 0;
        background: $color-white-pure;
    }
    .section-white-pure:before {
        top: -40px;
        box-shadow: $box-shadow-invert !important;
    }
    .section-gradient {
        background: $gradient;
        color: $color-white-pure;
    }

    .row-atf {
        min-height: calc(100vh - 180px);
    }

    .section-atf {
        padding-top: 100px;
    }

    .transparent-border {
        border: 2px solid $color-transparent;
    }

    @media (min-width: 992px) {
        .mobile-only {
            display: none;
        }
        [class*="section-"] {
            padding-top: 40px;
            padding-bottom: 40px;

            &.no-flex-add-padding {
                padding-top: 80px;
                padding-bottom: 80px;
            }

        }


        .row-flex {
            display: flex;
        }

        .row-flex-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .inner-flex-wrap {
            width: 100%;
        }
    }
    // footer specific styles
    .footer {
        padding: 80px 0;

        a, h6 {
            display: block;
            margin: 0;
        }
    }
    // component specific styles
    .component {
        @include transform(translateY(0));
        @include animation(.3s, jumper-fade-in);

        &.component-v-spacing {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        &.component-v-spacing-sm {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    &.partner {
        .team-member-photo-wrapper {
            border: 2px solid $color-partner;
        }
    }
    // privacy and terms pages
    .component-privacy,
    .component-terms {
        p {
            .cta {
                font-size: 1em;
                padding: 0;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
    .admin-component-hours .error input,
    .admin-component-hours .error select {
        background: $color-red-transparent;
    }
    .section-gradient a,
    .section-gradient h6 {
        color: $color-white-pure;
    }
    .component-terms p a,
    .component-privacy p a,
    .component-cookies p a {
        display: inline-block;
        width: auto;
    }
    @media(max-width: 992px) {
        .text-left-sm {
            text-align: left;
        }
    }
    @media(min-width: 992px) {
        .flex-height {
            display: flex;
            width: 100%;

            .component-plan {
                width: 33.3334%;
                margin: 10px;
                display: flex;
                flex-direction: column;

                .price {
                    margin-top: auto;
                    padding-top: 60px;
                }
            }
        }
    }
}

// keyframes
@include keyframes(jumper-fade-in) {
    0% {
        @include transform(translateY(20px))
        opacity: 0;
    }
    100% {
        @include transform(translateY(0))
        opacity: 1;
    }
}
@include keyframes(scale-in) {
    0% {
        @include transform(scale(0));
    }
    100% {
        @include transform(scale(1));
    }
}
@include keyframes(scale-in-rotate-l) {
    0% {
        @include transform(rotate(-25deg) scale(0));
    }
    100% {
        @include transform(rotate(-25deg) scale(1));
    }
}
@include keyframes(scale-in-rotate-r) {
    0% {
        @include transform(rotate(25deg) scale(0));
    }
    100% {
        @include transform(rotate(25deg) scale(1));
    }
}
@include keyframes(pulse) {
    0% {
        @include transform(scale(.3));
        opacity: .3;
    }
    50% {
        @include transform(scale(1));
        opacity: 1;
    }
    100% {
        @include transform(scale(.3));
        opacity: .3;
    }
}
@include keyframes(error-slide) {
    0% {
        opacity: 0;
        @include transform(translateY(-100%));
    }
    1% {
        opacity: 1;
    }
    5% {
        @include transform(translateY(0));
    }
    95% {
        @include transform(translateY(0));
    }
    100% {
        @include transform(translateY(-100%));
        opacity: 1;
    }
}
