@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNextLTW01-Regular.eot");
  src: url("../fonts/AvenirNextLTW01-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTW01-Regular.woff2") format("woff2"), url("../fonts/AvenirNextLTW01-Regular.woff") format("woff"), url("../fonts/AvenirNextLTW01-Regular.ttf") format("truetype"), url("../fonts/.svg#AvenirNextLTW01-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.75em;
}

h6,
p,
li {
  font-size: 1.5em;
}

li li {
  font-size: 1em;
}

a,
h6,
.media-wrap-link,
button,
.text-field,
select,
select option {
  font-size: 1.4em;
  line-height: 1.4em;
  color: #282828;
  outline: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a.border-field,
h6.border-field,
.media-wrap-link.border-field,
button.border-field,
.text-field.border-field,
select.border-field,
select option.border-field {
  border: 2px solid #e7683f;
}

a.border-field-primary,
h6.border-field-primary,
.media-wrap-link.border-field-primary,
button.border-field-primary,
.text-field.border-field-primary,
select.border-field-primary,
select option.border-field-primary {
  border: 2px solid #e7683f;
}

a:hover, a:active, a:focus,
h6:hover,
h6:active,
h6:focus,
.media-wrap-link:hover,
.media-wrap-link:active,
.media-wrap-link:focus,
button:hover,
button:active,
button:focus,
.text-field:hover,
.text-field:active,
.text-field:focus,
select:hover,
select:active,
select:focus,
select option:hover,
select option:active,
select option:focus {
  outline: 0;
  text-decoration: none;
}

.cta {
  font-size: 1.4em;
  line-height: 1.4em;
}

.enabler {
  margin: 10px 0;
  line-height: 34px;
  padding: 5px;
  min-width: 120px;
}

@media (min-width: 992px) {
  select,
  option {
    line-height: 34px;
    padding: 5px;
  }
}

.text-field {
  border: 2px solid white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.5em;
  }
  h6,
  p,
  li {
    font-size: 1.4em;
  }
}

body button[disabled] {
  background: gray;
  border-color: gray;
}

body a {
  border: 0px solid transparent;
  color: #e7683f;
}

body a:hover {
  color: #e7683f;
}

body a.cta {
  display: block;
}

body a.cta.cta-red {
  color: #c86414;
}

body a.link-white {
  color: white;
  border-bottom: 1px solid white;
  border-radius: 0;
}

body .ui-dialog-buttonset button,
body button.export,
body .cta {
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 220px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #e7683f;
  background: transparent;
  border: 2px solid transparent;
}

body .cta + .cta.cta-gap {
  margin-left: 10px;
}

body a.cta {
  text-align: center;
}

body .cta-underline {
  border-bottom: 2px solid #e7683f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

body .cta-main {
  background: #e7683f;
  color: #f0f0f0;
  border: 2px solid #e7683f;
}

body .cta-main:hover {
  background: transparent;
  color: #e7683f;
}

body .cta-secondary {
  background: transparent;
  color: #e7683f;
}

body .cta-secondary:hover {
  color: white;
  background: #e7683f;
}

body .cta-white {
  background: transparent;
  border: 2px solid white;
  color: white;
}

body .cta-white:hover {
  color: #e7683f;
  background: white;
}

body .component .cta.cta-margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

body .component .cta.cta-cancel-method {
  display: inline-block;
  color: #e7683f;
}

body.partner a {
  color: #e7683f;
}

body.partner .cta,
body.partner .ui-dialog-buttonset button {
  padding: 10px 20px;
  min-width: 200px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #e7683f;
  background: transparent;
}

body.partner .cta-underline {
  border-bottom: 2px solid #e7683f;
}

body.partner .cta-main,
body.partner button.export,
body.partner .ui-dialog-buttonset button:first-child {
  background: #e7683f;
  color: #f0f0f0;
  border: 2px solid #e7683f;
}

body.partner .cta-main:hover,
body.partner button.export:hover,
body.partner .ui-dialog-buttonset button:first-child:hover {
  background: transparent;
  color: #e7683f;
}

body.partner .cta-green-text {
  color: #32b432;
}

body.partner .cta-green {
  background: #e7683f;
  color: #f0f0f0;
  border: 2px solid #e7683f;
  text-align: center !important;
}

body.partner .cta-green:hover {
  background: transparent;
  color: #e7683f;
}

body .ui-dialog-buttonset button {
  display: inline !important;
}

body .ui-dialog-buttonset button + button {
  margin-left: 10px !important;
  display: inline !important;
}

body .component .cta {
  margin-top: 20px;
  margin-bottom: 20px;
}

body .component .cta.cta-inline {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

body .component .cta.cta-block {
  display: block;
}

body .component form .cta {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-size: 12px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  background: #f0f0f0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Avenir Next", serif;
  font-weight: 400;
}

body .disabled-link {
  pointer-events: none;
  opacity: .6;
}

body.pt-100 [class*="section-"] {
  padding-top: 100px;
}

body [class*="section"].section-header-padding {
  padding-top: 120px;
}

body .feature-image-wrap img.no-shadow {
  box-shadow: none !important;
}

body .feature-image-item-alt {
  width: 134%;
  max-width: 350px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 2px 25px 56px 3px rgba(0, 0, 0, 0.14);
  z-index: 1;
}

body .feature-image-item-alt:first-child {
  bottom: -572px;
  left: -27px;
}

body .feature-image-item-alt:nth-child(2) {
  bottom: -656px;
  left: -80px;
}

body .feature-image-item-alt:nth-child(3) {
  bottom: -740px;
  left: -120px;
}

@media (max-width: 991px) {
  body .no-v-margin-mobile {
    margin-top: 0;
    margin-bottom: 0;
  }
  body .feature-image-item-alt {
    width: 100%;
    max-width: 240px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 2px 25px 56px 3px rgba(0, 0, 0, 0.14);
    z-index: 1;
  }
  body .feature-image-item-alt:first-child {
    top: auto;
    bottom: -460px;
    left: 10px;
  }
  body .feature-image-item-alt:nth-child(2) {
    top: auto;
    bottom: -520px;
    right: 10px;
    left: auto;
  }
  body .feature-image-item-alt:nth-child(3) {
    bottom: -250px;
    left: 50%;
    display: none;
  }
}

body .no-shadow {
  box-shadow: none !important;
}

body .row-flex-column {
  flex-direction: column;
}

body .inline-50 {
  width: 50%;
  flex-direction: column;
  display: inline-block;
}

body .min-ht-100 {
  min-height: 100px;
}

body .mt-20 {
  margin-top: 20px;
}

body .mt-40 {
  margin-top: 40px;
}

body .mb-20 {
  margin-bottom: 20px;
}

body .mb-40 {
  margin-bottom: 40px;
}

body .header .link-white,
body .header .cta {
  width: auto;
  min-width: 0;
}

body .no-underline {
  border-bottom: none !important;
}

body .vis-hidden {
  visibility: hidden;
}

body .link-mobile {
  margin-top: 10px !important;
}

body .download-mobile {
  margin-bottom: 10px !important;
}

body .admin-component-link {
  margin-left: auto;
  margin-right: auto;
}

body .inline-input {
  padding: 10px 20px !important;
  display: inline-block;
  width: auto !important;
  min-width: 240px;
  margin-right: 5px;
}

body .member-name,
body .member-email {
  overflow: hidden;
  text-overflow: ellipsis;
}

body .empavialability {
  /* width: 100% !important; */
  /* position: relative; */
  display: block !important;
  text-align: left !important;
}

body .inherit-font-size a {
  font-size: inherit;
}

body .color-primary {
  color: #e7683f;
}

body .coming-soon {
  cursor: not-allowed;
  pointer-events: none;
}

body .price-old {
  text-decoration: line-through;
  color: #c86414;
}

body .price-discount {
  color: #e7683f;
}

body .total-amt {
  font-weight: bold;
}

body [data-avialable="0"] {
  color: #32b432;
}

body .rotate-ccw,
body .rotate-cw {
  display: none !important;
}

body .profilephoto .cropit-preview,
body .coverphoto .cropit-preview {
  overflow: hidden;
}

body .ui-widget-overlay {
  background: #f0f0f0;
  opacity: 1;
}

body .ui-widget.ui-widget-content {
  border: none !important;
  background: transparent !important;
  width: 100% !important;
}

body .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  margin: auto;
  text-align: center;
}

body .ui-dialog-content p {
  text-align: center !important;
}

body .ui-widget-content {
  background: transparent !important;
}

body .ui-widget-header {
  background: transparent !important;
  text-align: center !important;
  color: #e7683f !important;
}

body .ui-dialog-title {
  font-family: "Avenir Next", serif !important;
  font-size: 2.5em !important;
  width: 100% !important;
  font-weight: 400 !important;
}

body .ui-dialog .ui-dialog-titlebar-close {
  position: fixed;
  top: 40px !important;
  right: 40px !important;
  color: #282828;
}

body .ui-dialog-titlebar-close:before {
  content: '\f00d';
  position: absolute;
  color: #e7683f;
  font-size: 32px !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

body .ui-dialog-titlebar-close {
  position: relative;
  font-family: "Font Awesome 5 Free" !important;
  background: transparent !important;
  border: none !important;
}

body .ui-dialog .ui-dialog-buttonpane {
  border-width: 0 0 0 0 !important;
}

body .ui-dialog-content .ui-icon {
  display: none !important;
}

body .ui-dialog-titlebar {
  border: none !important;
}

body .ui-dialog-content p {
  font-family: "Avenir Next", sans-serif !important;
}

body .tagsinput {
  width: 75% !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 2px !important;
}

body .tagsinput * {
  font-family: "Avenir Next", sans-serif !important;
  font-size: 12px !important;
  font-size: 16px !important;
}

body .tagsinput input {
  width: 150px !important;
  color: #282828 !important;
}

body .tagsinput a {
  color: #f0f0f0 !important;
}

body .tagsinput .tag {
  color: #f0f0f0 !important;
  background: #e7683f !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: #e7683f;
  padding: 5px !important;
  border: 2px solid #e7683f !important;
}

body .store-img {
  box-shadow: 2px 25px 56px 3px rgba(0, 0, 0, 0.14) !important;
  border-radius: 20px;
}

body .store-img.store-img-coming-soon {
  opacity: .6;
}

body .iphone-bg {
  position: absolute;
  bottom: -160px;
  right: 50%;
  opacity: 1;
  height: 90%;
}

body .iphone-bg.iphone-bg-2 {
  right: 61%;
  bottom: -120px;
}

body .align-center-buttons .cta {
  margin-left: auto;
  margin-right: auto;
}

body .feature-image-wrapper {
  width: 100%;
  height: 100%;
}

body .team-image-wrapper {
  width: 100%;
  height: 100%;
}

body .team-image-wide.team-image-wrap img {
  width: 100%;
  box-shadow: 2px 25px 56px 3px rgba(0, 0, 0, 0.14) !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 20px 0;
}

body .team-image-wrap:not(.team-image-wide) {
  text-align: center;
}

body .team-image-wrap:not(.team-image-wide) img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  position: absolute;
  box-shadow: 2px 25px 56px 3px rgba(0, 0, 0, 0.14) !important;
  border: 3px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

body .team-image-wrap:not(.team-image-wide):first-child img {
  left: 0;
  top: 0;
}

body .team-image-wrap:not(.team-image-wide):nth-child(2) img {
  top: 180px;
  left: 50%;
  margin-left: -70px;
}

body .team-image-wrap:not(.team-image-wide):nth-child(3) img {
  top: 0;
  right: 0;
}

body .feature-image-wrap {
  text-align: center;
}

body .feature-image-wrap img {
  width: 100%;
}

body .feature-image-wrap img:not(.feature-image-blur) {
  width: 120%;
  border-radius: 10px;
}

body .feature-image-wrap:nth-child(2) img {
  top: 90px;
  left: 70px;
}

body .feature-image-wrap:nth-child(3) img {
  top: 60%;
  left: 150px;
}

body .feature-image-wrap:nth-child(4) img {
  top: 100%;
  left: 120px;
}

body .feature-image-wrap .feature-image-blur {
  position: relative;
}

body .feature-image-wrap .web-blur {
  -webkit-filter: blur(3px);
  filter: blur(4px);
  visibility: hidden;
}

body .feature-image-wrap img {
  position: absolute;
  box-shadow: 2px 25px 56px 3px rgba(0, 0, 0, 0.14) !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

body .header.logo-gradient .logo path {
  fill: url(#MyGradient);
}

body .header.logo-gradient .logo-text {
  color: #e7683f;
}

body .header.alt {
  box-shadow: 2px 25px 56px 3px rgba(0, 0, 0, 0.14) !important;
}

body .header.alt .logo-text {
  color: #e7683f;
}

body .header.alt .logo path,
body .header.alt .logo circle,
body .header.alt .flair path,
body .header.alt .flair circle {
  fill: url(#MyGradient);
}

body .header.alt a {
  color: #e7683f;
}

body .logo-wrapper {
  display: inline-block;
  width: 100%;
}

body .logo-text {
  display: inline-block;
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  margin-left: 4px;
  line-height: 32px;
  letter-spacing: -2px;
}

body .logo path,
body .logo circle,
body .flair path,
body .flair circle {
  fill: white;
}

body .flair {
  display: none;
}

body.partner .logo path,
body.partner .logo circle,
body.partner .flair path,
body.partner .flair circle {
  fill: white;
}

body .flair {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

body .flair .flair-item {
  max-width: 120px;
  width: 100%;
  position: absolute;
  opacity: .3;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: scale-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: scale-in;
  -moz-animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: scale-in;
  animation-fill-mode: forwards;
}

body .flair .flair-item:first-child {
  bottom: 0;
  left: 10%;
  animation-delay: 0s;
}

body .flair .flair-item:nth-child(2) {
  bottom: 40px;
  left: 20%;
  animation-delay: .1s;
}

body .flair .flair-item:nth-child(3) {
  bottom: 60px;
  left: 40%;
  animation-delay: .2s;
}

body .flair .flair-item:nth-child(4) {
  bottom: 80px;
  left: 50%;
  animation-delay: .4s;
  -moz-transform: scale(0) rotate(25deg);
  -o-transform: scale(0) rotate(25deg);
  -ms-transform: scale(0) rotate(25deg);
  -webkit-transform: scale(0) rotate(25deg);
  transform: scale(0) rotate(25deg);
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: scale-in-rotate-r;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: scale-in-rotate-r;
  -moz-animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: scale-in-rotate-r;
  animation-fill-mode: forwards;
}

body .flair .flair-item:nth-child(5) {
  width: 12%;
  bottom: -20px;
  left: 70%;
  animation-delay: .3s;
}

body .flair .flair-item:nth-child(6) {
  bottom: 20px;
  right: 10%;
  animation-delay: .5s;
}

body .flair .flair-item:nth-child(7) {
  top: 40px;
  left: 10%;
  animation-delay: .6s;
}

body .flair .flair-item:nth-child(8) {
  width: 12%;
  -moz-transform: scale(0) rotate(-25deg);
  -o-transform: scale(0) rotate(-25deg);
  -ms-transform: scale(0) rotate(-25deg);
  -webkit-transform: scale(0) rotate(-25deg);
  transform: scale(0) rotate(-25deg);
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: scale-in-rotate-l;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: scale-in-rotate-l;
  -moz-animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: scale-in-rotate-l;
  animation-fill-mode: forwards;
  top: 80px;
  left: 20%;
  animation-delay: .7s;
}

body .flair .flair-item:nth-child(9) {
  top: 100px;
  left: 40%;
  animation-delay: .8s;
}

body .flair .flair-item:nth-child(10) {
  width: 12%;
  -moz-transform: scale(0) rotate(25deg);
  -o-transform: scale(0) rotate(25deg);
  -ms-transform: scale(0) rotate(25deg);
  -webkit-transform: scale(0) rotate(25deg);
  transform: scale(0) rotate(25deg);
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: scale-in-rotate-r;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: scale-in-rotate-r;
  -moz-animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: scale-in-rotate-r;
  animation-fill-mode: forwards;
  top: 60px;
  left: 50%;
  animation-delay: .9s;
}

body .flair .flair-item:nth-child(11) {
  top: 80px;
  right: 20%;
  animation-delay: 1s;
}

body .flair .flair-item:nth-child(12) {
  top: 20px;
  right: 10%;
  animation-delay: 1.1s;
}

body * {
  transition: color .3s, transform .3s, background .3s;
}

body [class*="cropit-"] {
  transition: none;
}

body.overlay-active {
  overflow: hidden;
}

body.overlay-active .overlay {
  display: block;
}

body .overlay {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  z-index: 4;
}

body [class*="section-"] {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

body.section-padding-lg [class*="section-"] {
  padding-top: 80px;
  padding-bottom: 80px;
}

body .component-plan {
  border: 2px solid #e7683f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
}

body .component-plan.selected:before {
  font-family: Font Awesome\ 5 Free;
  content: '\f00c';
  font-weight: 900;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
}

body .component-plan.selected .cta-select-plan {
  display: none;
}

body .component-plan .cta-select-plan {
  margin: auto;
  display: block;
  margin-right: 0;
}

body .component-plan .inline-link {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

body .component-plan .margin-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

body .component-plan h3 {
  color: #e7683f;
}

body .component-plan h5, body .component-plan h6 {
  color: #282828;
}

body .component-plan a.term {
  margin-top: 10px;
  margin-bottom: 10px;
}

body .component-plan.selected {
  background: #e7683f;
}

body .component-plan.selected h3 {
  color: white;
}

body .component-plan.selected h5, body .component-plan.selected h6 {
  color: #f0f0f0;
}

body .admin-component {
  display: none;
}

body .admin-component.active {
  display: block;
}

body .img-small {
  max-width: 300px;
  width: 100%;
}

body input:not([type="button"]):not(.cta) {
  padding: 5px;
  max-width: 400px;
  width: 100%;
}

body .block-inputs input:not([type="button"]) {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

body .color-partner {
  color: #e7683f;
}

body .padding-left-zero {
  padding-left: 0;
}

body .component-add-member {
  display: none;
}

body .component-add-member.edit-active {
  display: block;
}

body .team-member-photo-wrapper,
body .business-photo-wrapper {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #e7683f;
  overflow: hidden;
}

body .team-member-photo-wrapper .team-member-photo,
body .team-member-photo-wrapper .business-photo,
body .business-photo-wrapper .team-member-photo,
body .business-photo-wrapper .business-photo {
  width: 100%;
}

body .cover-photo-wrapper {
  width: 100%;
}

body .cover-photo-wrapper .cover-photo {
  width: 100%;
}

body input.full-width {
  width: 100%;
  max-width: 100%;
}

body .component-new-cc,
body .component-new-promo {
  display: none;
}

body .component-new-cc.edit-active,
body .component-new-promo.edit-active {
  display: block;
}

body .admin-component-hours .cta-save-hours,
body .admin-component-hours .cta-add-hours,
body .admin-component-hours .cta-cancel {
  display: none;
}

body .admin-component-hours input[type="time"],
body .admin-component-hours select {
  background: transparent;
  border: none;
  border: 2px solid transparent;
  -webkit-appearance: none;
  appearance: none;
}

body .admin-component-hours .fa-trash.delete-icon {
  display: none;
}

body .admin-component-hours.edit-active .cta-save-hours,
body .admin-component-hours.edit-active .cta-cancel {
  display: inline-block;
}

body .admin-component-hours.edit-active .cta-add-hours {
  display: block;
}

body .admin-component-hours.edit-active .cta-edit-hours {
  display: none;
}

body .admin-component-hours.edit-active .fa-trash.delete-icon {
  display: block;
}

body .admin-component-hours.edit-active input[type="time"],
body .admin-component-hours.edit-active select {
  background: transparent;
  border: 2px solid #e7683f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
}

body .overlay-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  z-index: 5;
  display: none;
}

body .overlay-loader .loader {
  color: #e7683f;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #e7683f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation-duration: 1.6s;
  -webkit-animation-name: pulse;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 1.6s;
  -moz-animation-name: pulse;
  -moz-animation-fill-mode: forwards;
  animation-duration: 1.6s;
  animation-name: pulse;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

body .overlay-loader .loader:before {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

body.loading {
  overflow: hidden;
}

body.loading .overlay-loader {
  display: block;
}

body.loading-success .loader {
  background: transparent;
  animation: none;
}

body.loading-success .loader:before {
  content: "\f058";
  font-family: Font Awesome\ 5 Free;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: scale-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: scale-in;
  -moz-animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: scale-in;
  animation-fill-mode: forwards;
  font-size: 48px;
  animation-delay: .3s;
}

body.loading-error .loader {
  background: transparent;
  animation: none;
}

body.loading-error .loader:before {
  content: "\f06a";
  color: #c86414;
  font-weight: 900;
  font-family: Font Awesome\ 5 Free;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: scale-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: scale-in;
  -moz-animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: scale-in;
  animation-fill-mode: forwards;
  font-size: 48px;
  animation-delay: .3s;
}

body .error-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 10px 0;
  background: #c86414;
  z-index: 3;
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-align: center;
  color: white;
  opacity: 0;
  animation-fill-mode: none;
}

body .error-wrapper.active {
  -webkit-animation-duration: 6s;
  -webkit-animation-name: error-slide;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 6s;
  -moz-animation-name: error-slide;
  -moz-animation-fill-mode: forwards;
  animation-duration: 6s;
  animation-name: error-slide;
  animation-fill-mode: forwards;
}

body .error-wrapper.success {
  background: #32b432;
}

body .header {
  height: 75px;
  background: transparent;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

body .header.alt {
  background: white;
}

body .header .dd-header {
  position: relative;
  float: right;
}

body .header .dd-header:hover .dd-header-menu {
  display: block;
}

body .header .dd-header.active .dd-header-menu {
  display: block;
}

body .header .dd-header .dd-header-menu {
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: jumper-fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: jumper-fade-in;
  -moz-animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: jumper-fade-in;
  animation-fill-mode: forwards;
  display: none;
  position: absolute;
  background: white;
  box-shadow: 2px 25px 56px 3px rgba(0, 0, 0, 0.14), 2px -45px 56px 3px rgba(0, 0, 0, 0.07) !important;
  top: 100%;
  min-width: 240px;
  max-width: 240px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 10px;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: 10px;
  text-align: left;
}

body .header .dd-header .dd-header-menu a {
  display: block;
  text-align: left;
  margin-left: 0;
  color: #e7683f;
  float: none;
  padding: 5px;
}

body .header .pill-close {
  display: none;
}

body .header.header-open {
  height: auto;
}

body .header.header-open .pill-bars {
  display: none;
}

body .header.header-open .pill-close {
  display: block;
}

body .header .pill-nav {
  position: absolute;
  color: white;
  right: 20px;
  top: 25px;
  cursor: pointer;
  z-index: 2;
}

body .header.alt .pill-nav {
  color: #e7683f;
}

body .header .cta {
  margin: auto;
  display: block;
}

body .header .logo {
  width: 100%;
  max-width: 60px;
  margin-top: 10px;
}

body.partner .header .pill-nav {
  color: #e7683f;
}

body .component-brand-sharing img,
body .component-brand-sharing pre {
  width: 100%;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

body .component-brand-sharing pre {
  color: #e7683f;
  text-align: left;
  padding: 20px;
  max-width: 850px;
}

body .component-brand-logos img {
  width: 100%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
}

body .component-brand-colors .brand-color {
  width: 100%;
  height: 200px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
}

body .component-brand-colors .brand-color h5 {
  color: white;
  line-height: 200px;
  text-align: center;
}

body .component-brand-colors .brand-color.brand-color-primary {
  background: #e7683f;
}

body .component-brand-colors .brand-color.brand-color-accent {
  background: #e74d56;
}

@media (min-width: 992px) {
  body .member-name {
    padding-left: 20px;
  }
  body .text-center-desktop {
    text-align: center;
  }
  body .iphone-wrap {
    position: relative;
  }
  body .iphone-wrap .iphone:last-child {
    left: 40%;
    transform: translateY(-50%) rotate(10deg);
  }
  body .iphone-wrap .iphone {
    width: 50%;
    max-width: 290px;
    position: absolute;
  }
  body .iphone-wrap .iphone:first-child {
    left: 0;
    transform: translateY(-50%) rotate(-10deg);
  }
  body.partner .iphone-wrap .iphone {
    transform: translateY(-50%) rotate(-10deg) !important;
    width: 80% !important;
    left: 0 !important;
    max-width: 400px !important;
  }
  body .hidden-img-2 .feature-image-wrap-2 {
    visibility: hidden;
  }
  body .feature-image-wrapper .feature-image-wrap.image-up img {
    top: -30px;
  }
  body .feature-image-wrap-2 {
    display: block;
  }
  body .feature-image-wrap-2 img {
    bottom: 0;
    left: 0;
  }
  body .header {
    display: flex;
    align-items: center;
    height: 80px;
  }
  body .header .pill-nav {
    display: none;
  }
  body .header .cta {
    float: right;
    margin-left: 10px;
    margin-right: 0;
  }
  body .header .logo {
    position: relative;
  }
}

@media (max-width: 991px) {
  body.hide-h6 h6 {
    display: none;
  }
  body .iphone-bg {
    right: 0;
    height: 62%;
    bottom: -100px;
    left: 0;
    margin: auto;
    display: none;
  }
  body .iphone-bg.show {
    display: block;
  }
  body .iphone-bg.iphone-bg-2 {
    right: auto;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -80px;
  }
  body .mt-20-mobile {
    margin-top: 20px;
  }
  body .desktop-only {
    display: none;
  }
  body .component-plan .cta-select-plan {
    margin-right: auto;
  }
  body .header {
    background: white;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07) !important;
  }
  body .header.header-open {
    overflow: visible;
    padding-bottom: 20px;
    box-shadow: 2px 25px 56px 3px rgba(0, 0, 0, 0.14) !important;
  }
  body .header .dd-header-menu {
    z-index: 2;
    max-width: 100% !important;
    margin-left: 0 !important;
  }
  body .header .dd-header {
    width: auto;
    float: none;
  }
  body .header .pill-nav,
  body .header a {
    color: #e7683f;
  }
  body .header .logo-text {
    color: #e7683f;
  }
  body .header .logo path {
    fill: url(#MyGradient);
  }
  body .header.logo-gradient .logo path {
    fill: url(#MyGradient);
  }
  body .header.logo-gradient .logo-text {
    color: #e7683f;
  }
  body .partner-name {
    text-align: center;
    margin-top: 16px;
  }
  body .delete-icon {
    padding-top: 29px;
  }
  body .cta.admin-component-link {
    width: auto !important;
    min-width: auto !important;
  }
  body .feature-image-wrapper {
    height: 415px;
    width: 70%;
    margin: auto;
  }
  body .feature-image-wrap {
    text-align: center;
  }
  body .feature-image-wrap img {
    width: 100%;
  }
  body .feature-image-wrap img:not(.feature-image-blur) {
    width: 70%;
  }
  body .feature-image-wrap:nth-child(2) img {
    top: 10%;
    left: 10px;
  }
  body .feature-image-wrap:nth-child(3) img {
    top: 30%;
    left: 60px;
  }
  body .feature-image-wrap:nth-child(4) img {
    top: 50%;
    left: 30px;
  }
  body .feature-image-wrap .feature-image-blur {
    position: relative;
  }
  body .feature-image-wrap img {
    position: absolute;
    box-shadow: 2px 25px 56px 3px rgba(0, 0, 0, 0.14) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  body .team-image-wrap:not(.team-image-wide):nth-child(2) img {
    display: none;
  }
  body .feature-image-wrapper {
    margin: 40px auto;
  }
  body .iphone-wrap {
    margin-top: 40px;
    text-align: center;
  }
  body .iphone-wrap .iphone {
    width: 100%;
    max-width: 160px;
  }
  body .flair {
    display: none;
  }
  body .team-member .cta {
    text-align: left;
    padding-left: 0;
  }
  body .header .cta {
    margin-top: 10px;
    width: 220px;
  }
  body .header .cta:first-child {
    margin-top: 10px;
  }
  body .header .cta:last-child {
    margin-bottom: 20px;
  }
  body .component-business-hours {
    border-bottom: 2px solid #f0f0f0;
  }
  body .cta + .cta.cta-gap {
    margin-left: 0;
    margin-top: 10px;
  }
  body .cta-top-spread-mobile {
    margin-top: 10px;
  }
}

body .row-cover {
  min-height: 70vh;
}

body .row-cover-full {
  height: 100vh;
}

body .section-white {
  background: #f0f0f0;
}

body .section-white-pure {
  background: white;
}

body .iphone-wrap {
  position: relative;
}

body .section-white-pure:before,
body .section-white-pure:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  border-radius: 40px;
  left: 0;
  right: 0;
  background: white;
}

body .section-white-pure:before {
  top: -40px;
  box-shadow: 2px -45px 56px 3px rgba(0, 0, 0, 0.07) !important;
}

body .section-gradient {
  background: linear-gradient(to top right, #e74d56, #e7683f);
  color: white;
}

body .row-atf {
  min-height: calc(100vh - 180px);
}

body .section-atf {
  padding-top: 100px;
}

body .transparent-border {
  border: 2px solid transparent;
}

@media (min-width: 992px) {
  body .mobile-only {
    display: none;
  }
  body [class*="section-"] {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  body [class*="section-"].no-flex-add-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  body .row-flex {
    display: flex;
  }
  body .row-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .inner-flex-wrap {
    width: 100%;
  }
}

body .footer {
  padding: 80px 0;
}

body .footer a, body .footer h6 {
  display: block;
  margin: 0;
}

body .component {
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: jumper-fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 0.3s;
  -moz-animation-name: jumper-fade-in;
  -moz-animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: jumper-fade-in;
  animation-fill-mode: forwards;
}

body .component.component-v-spacing {
  margin-top: 40px;
  margin-bottom: 40px;
}

body .component.component-v-spacing-sm {
  margin-top: 20px;
  margin-bottom: 20px;
}

body.partner .team-member-photo-wrapper {
  border: 2px solid #e7683f;
}

body .component-privacy p .cta,
body .component-terms p .cta {
  font-size: 1em;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}

body .admin-component-hours .error input,
body .admin-component-hours .error select {
  background: rgba(200, 100, 20, 0.4);
}

body .section-gradient a,
body .section-gradient h6 {
  color: white;
}

body .component-terms p a,
body .component-privacy p a,
body .component-cookies p a {
  display: inline-block;
  width: auto;
}

@media (max-width: 992px) {
  body .text-left-sm {
    text-align: left;
  }
}

@media (min-width: 992px) {
  body .flex-height {
    display: flex;
    width: 100%;
  }
  body .flex-height .component-plan {
    width: 33.3334%;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  body .flex-height .component-plan .price {
    margin-top: auto;
    padding-top: 60px;
  }
}

@-webkit-keyframes jumper-fade-in {
  0% {
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes jumper-fade-in {
  0% {
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes jumper-fade-in {
  0% {
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes scale-in {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-in {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes scale-in-rotate-l {
  0% {
    -moz-transform: rotate(-25deg) scale(0);
    -o-transform: rotate(-25deg) scale(0);
    -ms-transform: rotate(-25deg) scale(0);
    -webkit-transform: rotate(-25deg) scale(0);
    transform: rotate(-25deg) scale(0);
  }
  100% {
    -moz-transform: rotate(-25deg) scale(1);
    -o-transform: rotate(-25deg) scale(1);
    -ms-transform: rotate(-25deg) scale(1);
    -webkit-transform: rotate(-25deg) scale(1);
    transform: rotate(-25deg) scale(1);
  }
}

@-moz-keyframes scale-in-rotate-l {
  0% {
    -moz-transform: rotate(-25deg) scale(0);
    -o-transform: rotate(-25deg) scale(0);
    -ms-transform: rotate(-25deg) scale(0);
    -webkit-transform: rotate(-25deg) scale(0);
    transform: rotate(-25deg) scale(0);
  }
  100% {
    -moz-transform: rotate(-25deg) scale(1);
    -o-transform: rotate(-25deg) scale(1);
    -ms-transform: rotate(-25deg) scale(1);
    -webkit-transform: rotate(-25deg) scale(1);
    transform: rotate(-25deg) scale(1);
  }
}

@keyframes scale-in-rotate-l {
  0% {
    -moz-transform: rotate(-25deg) scale(0);
    -o-transform: rotate(-25deg) scale(0);
    -ms-transform: rotate(-25deg) scale(0);
    -webkit-transform: rotate(-25deg) scale(0);
    transform: rotate(-25deg) scale(0);
  }
  100% {
    -moz-transform: rotate(-25deg) scale(1);
    -o-transform: rotate(-25deg) scale(1);
    -ms-transform: rotate(-25deg) scale(1);
    -webkit-transform: rotate(-25deg) scale(1);
    transform: rotate(-25deg) scale(1);
  }
}

@-webkit-keyframes scale-in-rotate-r {
  0% {
    -moz-transform: rotate(25deg) scale(0);
    -o-transform: rotate(25deg) scale(0);
    -ms-transform: rotate(25deg) scale(0);
    -webkit-transform: rotate(25deg) scale(0);
    transform: rotate(25deg) scale(0);
  }
  100% {
    -moz-transform: rotate(25deg) scale(1);
    -o-transform: rotate(25deg) scale(1);
    -ms-transform: rotate(25deg) scale(1);
    -webkit-transform: rotate(25deg) scale(1);
    transform: rotate(25deg) scale(1);
  }
}

@-moz-keyframes scale-in-rotate-r {
  0% {
    -moz-transform: rotate(25deg) scale(0);
    -o-transform: rotate(25deg) scale(0);
    -ms-transform: rotate(25deg) scale(0);
    -webkit-transform: rotate(25deg) scale(0);
    transform: rotate(25deg) scale(0);
  }
  100% {
    -moz-transform: rotate(25deg) scale(1);
    -o-transform: rotate(25deg) scale(1);
    -ms-transform: rotate(25deg) scale(1);
    -webkit-transform: rotate(25deg) scale(1);
    transform: rotate(25deg) scale(1);
  }
}

@keyframes scale-in-rotate-r {
  0% {
    -moz-transform: rotate(25deg) scale(0);
    -o-transform: rotate(25deg) scale(0);
    -ms-transform: rotate(25deg) scale(0);
    -webkit-transform: rotate(25deg) scale(0);
    transform: rotate(25deg) scale(0);
  }
  100% {
    -moz-transform: rotate(25deg) scale(1);
    -o-transform: rotate(25deg) scale(1);
    -ms-transform: rotate(25deg) scale(1);
    -webkit-transform: rotate(25deg) scale(1);
    transform: rotate(25deg) scale(1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: .3;
  }
  50% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: .3;
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: .3;
  }
  50% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: .3;
  }
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: .3;
  }
  50% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: .3;
  }
}

@-webkit-keyframes error-slide {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  1% {
    opacity: 1;
  }
  5% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  95% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 1;
  }
}

@-moz-keyframes error-slide {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  1% {
    opacity: 1;
  }
  5% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  95% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 1;
  }
}

@keyframes error-slide {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  1% {
    opacity: 1;
  }
  5% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  95% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 1;
  }
}
