.jumper-component-sharing-link {
    max-width: 300px;
    text-decoration: none;
    display: inline-block;
    .jumper-component-sharing-image {
        width: 100%;
    }
}
.jumper-component-sharing-link:hover,
.jumper-component-sharing-link:active,
.jumper-component-sharing-link:visited {
    text-decoration: none;
    font-size: initial;
}
