@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNextLTW01-Regular.eot");
  src: url("../fonts/AvenirNextLTW01-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTW01-Regular.woff2") format("woff2"), url("../fonts/AvenirNextLTW01-Regular.woff") format("woff"), url("../fonts/AvenirNextLTW01-Regular.ttf") format("truetype"), url("../fonts/.svg#AvenirNextLTW01-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.75em;
}

h6,
p,
li {
  font-size: 1.5em;
}

li li {
  font-size: 1em;
}

a,
h6,
.media-wrap-link,
button,
.text-field,
select,
select option {
  font-size: 1.4em;
  line-height: 1.4em;
  color: #282828;
  outline: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a.border-field,
h6.border-field,
.media-wrap-link.border-field,
button.border-field,
.text-field.border-field,
select.border-field,
select option.border-field {
  border: 2px solid #e7683f;
}

a.border-field-primary,
h6.border-field-primary,
.media-wrap-link.border-field-primary,
button.border-field-primary,
.text-field.border-field-primary,
select.border-field-primary,
select option.border-field-primary {
  border: 2px solid #e7683f;
}

a:hover, a:active, a:focus,
h6:hover,
h6:active,
h6:focus,
.media-wrap-link:hover,
.media-wrap-link:active,
.media-wrap-link:focus,
button:hover,
button:active,
button:focus,
.text-field:hover,
.text-field:active,
.text-field:focus,
select:hover,
select:active,
select:focus,
select option:hover,
select option:active,
select option:focus {
  outline: 0;
  text-decoration: none;
}

.cta {
  font-size: 1.4em;
  line-height: 1.4em;
}

.enabler {
  margin: 10px 0;
  line-height: 34px;
  padding: 5px;
  min-width: 120px;
}

@media (min-width: 992px) {
  select,
  option {
    line-height: 34px;
    padding: 5px;
  }
}

.text-field {
  border: 2px solid white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.5em;
  }
  h6,
  p,
  li {
    font-size: 1.4em;
  }
}

body button[disabled] {
  background: gray;
  border-color: gray;
}

body a {
  border: 0px solid transparent;
  color: #e7683f;
}

body a:hover {
  color: #e7683f;
}

body a.cta {
  display: block;
}

body a.cta.cta-red {
  color: #c86414;
}

body a.link-white {
  color: white;
  text-decoration: underlin;
}

body .ui-dialog-buttonset button,
body button.export,
body .cta {
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 200px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #e7683f;
  background: transparent;
  border: 2px solid transparent;
}

body .cta + .cta.cta-gap {
  margin-left: 10px;
}

body a.cta {
  text-align: center;
}

body .cta-underline {
  border-bottom: 2px solid #e7683f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

body .cta-main {
  background: #e7683f;
  color: #f0f0f0;
  border: 2px solid #e7683f;
}

body .cta-main:hover {
  background: transparent;
  color: #e7683f;
}

body .cta-secondary {
  background: transparent;
  color: #e7683f;
}

body .cta-secondary:hover {
  color: white;
  background: #e7683f;
}

body .cta-white {
  background: transparent;
  border: 2px solid white;
  color: white;
}

body .cta-white:hover {
  color: #e7683f;
  background: white;
}

body .component .cta.cta-margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

body .component .cta.cta-cancel-method {
  display: inline-block;
  color: #e7683f;
}

body.partner a {
  color: #e7683f;
}

body.partner .cta,
body.partner .ui-dialog-buttonset button {
  padding: 10px 20px;
  min-width: 200px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #e7683f;
  background: transparent;
}

body.partner .cta-underline {
  border-bottom: 2px solid #e7683f;
}

body.partner .cta-main,
body.partner button.export,
body.partner .ui-dialog-buttonset button:first-child {
  background: #e7683f;
  color: #f0f0f0;
  border: 2px solid #e7683f;
}

body.partner .cta-main:hover,
body.partner button.export:hover,
body.partner .ui-dialog-buttonset button:first-child:hover {
  background: transparent;
  color: #e7683f;
}

body.partner .cta-green-text {
  color: #32b432;
}

body.partner .cta-green {
  background: #e7683f;
  color: #f0f0f0;
  border: 2px solid #e7683f;
  text-align: center !important;
}

body.partner .cta-green:hover {
  background: transparent;
  color: #e7683f;
}

body .ui-dialog-buttonset button {
  display: inline !important;
}

body .ui-dialog-buttonset button + button {
  margin-left: 10px !important;
  display: inline !important;
}

body .component .cta {
  margin-top: 20px;
  margin-bottom: 20px;
}

body .component .cta.cta-inline {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

body .component .cta.cta-block {
  display: block;
}

body .component form .cta {
  margin-top: 0;
  margin-bottom: 0;
}
