body {

    button[disabled] {
        background: gray;
        border-color: gray;
    }

    // customer specific styles

    a {
        border: 0px solid $color-transparent;
        color: $color-primary;
        &:hover {
            color: $color-primary;
        }
        &.cta {
            display: block;
            &.cta-red {
                color: $color-red;
            }
        }
    }
    a.link-white {
        color: $color-white-pure;
        border-bottom: 1px solid $color-white-pure;
        border-radius: 0;
    }
    .ui-dialog-buttonset button,
    button.export,
    .cta {
        padding: 10px 20px;
        @include border-radius(5px);
        width: 220px;
        @include transition(.3s);
        color: $color-primary;
        background: $color-transparent;
        border: 2px solid $color-transparent;
    }
    .cta + .cta.cta-gap {
        margin-left: 10px;
    }
    a.cta {
        text-align: center;
    }
    .cta-underline {
        border-bottom: 2px solid $color-primary;
        @include border-radius(0);
    }
    .cta-main {
        background: $color-primary;
        color: $color-white;
        border: 2px solid $color-primary;
        &:hover {
            background: $color-transparent;
            color: $color-primary;
        }
    }
    .cta-secondary {
        background: $color-transparent;
        color: $color-primary;
        &:hover {
            color: $color-white-pure;
            background: $color-primary;
        }
    }
    .cta-white {
        background: $color-transparent;
        border: 2px solid $color-white-pure;
        color: $color-white-pure;
        &:hover {
            color: $color-primary;
            background: $color-white-pure;
        }
    }
    .component {
        .cta {
            &.cta-margin-20 {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            &.cta-cancel-method {
                display: inline-block;
                color: $color-primary;
            }
        }
    }

    // partner specific styles

    &.partner {
        a {
            color: $color-partner;
        }
        .cta,
        .ui-dialog-buttonset button {
            padding: 10px 20px;
            min-width: 200px;
            @include transition(.3s);
            color: $color-partner;
            background: $color-transparent;
        }
        .cta-underline {
            border-bottom: 2px solid $color-partner;
        }
        .cta-main,
        button.export,
        .ui-dialog-buttonset button:first-child, {
            background: $color-partner;
            color: $color-white;
            border: 2px solid $color-partner;
            &:hover {
                background: $color-transparent;
                color: $color-partner;
            }
        }
        .cta-green-text {
            color: $color-green;
        }
        .cta-green {
            background: $color-primary;
            color: $color-white;
            border: 2px solid $color-primary;
            text-align: center !important;
            &:hover {
                background: $color-transparent;
                color: $color-primary;
            }
        }
    }

    // component specific styles

    .ui-dialog-buttonset button {
        display: inline !important;
    }
    .ui-dialog-buttonset button + button {
        margin-left: 10px !important;
        display: inline !important;
    }

    .component {
        .cta {
            margin-top: 20px;
            margin-bottom: 20px;
            &.cta-inline {
                display: inline;
                margin-left: 10px;
                margin-right: 10px;
            }
            &.cta-block {
                display: block;
            }
        }
        form {
            .cta {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

}
