$font-primary: 'Avenir Next', serif;
$font-secondary: 'Avenir Next', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2.2em;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 1.75em;
}
h6,
p,
li {
    font-size: 1.5em;
}
li li {
    font-size: 1em;
}
a,
h6,
.media-wrap-link,
button,
.text-field,
select,
select option {
    font-size: 1.4em;
    line-height: 1.4em;
    color: $color-black;
    outline: 0;
    @include border-radius(5px);
    &.border-field {
        border: 2px solid $color-partner;
    }
    &.border-field-primary {
        border: 2px solid $color-primary;
    }
    &:hover,
    &:active,
    &:focus {
        outline: 0;
        text-decoration: none;
    }
}
.cta {
    font-size: 1.4em;
    line-height: 1.4em;
}
.enabler {
    margin: 10px 0;
    line-height: 34px;
    padding: 5px;
    min-width: 120px;
}

@media (min-width: 992px) {
    select,
    option {
        line-height: 34px;
        padding: 5px;
    }
}
.text-field {
    border: 2px solid $color-white-pure;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 991px) {
    h1 {
        font-size: 2.8em;
    }
    h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 1.8em;
    }
    h4 {
        font-size: 1.6em;
    }
    h5 {
        font-size: 1.5em;
    }
    h6,
    p,
    li {
        font-size: 1.4em;
    }
}
